body {
    font-family: sans-serif;
}

.container {
   width: 1150px;
   align-self: auto;
}

.titles {
    color: #16a085;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    padding: 35px 0;
}

.menu-item {
    margin-right: 70px;
}

.last {
    margin-right: 0;
}

.img-container {
    width: 1280px;
    height: 790px;
    margin: 0 auto;
}

.shot_take{
    width: 100%;
    height: 100%;
}

.gray-background {
    width: 1280px;
    background-color: #f5f6f7;
    margin: 0 auto;
}

.text-container {
    width: 1055px;
    margin: 0 auto;
    padding: 50px 0;
}
.head-text {
    color: #373737;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 34px;
}
.pharagraph-text {
    color: #373737;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 39px;
    line-height: 26px;
}
.btn-green {
    border-radius: 3px;
    background-color: #16a085;
    width: 192px;
    height: 51px;
    font-size: 12px;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 90px;
    }

.bottom-title {
    height: 50px;
}

.bottom-title-text {
    text-align: right;
    font-size: 16px;
    font-weight: 900;
    margin-top: 20px;
    color:#373737;
}